*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        body{
            
            line-height: 1.9;
        }
        .container{
            padding: 0 20px;
            max-width: 1200px ;
            margin: 0 auto;
        }
        #navbar{
            background-color: rgb(21, 96, 99);
            padding: 1rem 0;
            text-decoration: none;
            position: fixed;
            width: 100%;
            text-align: right;
            color: bisque;
            z-index: 1000;
            top: 0%;
        }
        #container{
            max-width: 1200px;
            display: flex;
            padding: 0 10px ;
            margin: 0 auto;
            justify-content: space-between;
        }
        #mob{
            text-align: left;
            font-size: bold;
            font-size: 2rem;
            color:rgb(231, 238, 237);
            transform: translateZ(-5px); 
            transform: 0,3sec;
            cursor: pointer;
        }
        #mob:hover{
      transform: scale(1.10);
    
        }
        .menu{
            text-decoration: none;
            display: flex;
            font-size: large;
            gap: 2rem;
            list-style: none;
        }
        .menu a{
            text-decoration: none;
            transition: color 0.2s;
            color: rgb(231, 238, 237);
            
        }
        .menu a:hover{
            
            color: rgb(43, 43, 95);
            background-color: aliceblue;   
        }
        .home{
            background-color: rgb(209, 173, 128);
            text-align: center;
            padding: 100px 0 150px;
        }    
        .home-content h2{
            margin-bottom: 17px;
            font-size: 2.5rem;
            
        }
        .home-content p{
            margin-bottom: 26px;
            font-size: larger;
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;  
            transition: background 0.3s;  
        }
        .btn{
            background-color: rgb(21, 96, 99);
            padding: 15px;
            outline: none;
            font-size: large;
            border-radius: 6px;
            color:rgb(231, 238, 237);
            cursor: pointer;
            border: none;

        }
        .btn:hover{
            background-color: gray;   
        }
        .about{
            text-align: center;
            background-color: antiquewhite;
            margin: auto;
     }
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit minmax(250px, 1fr));
    gap: 2rem;
}
#about{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    
}
.card{
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  border-radius: 13px;
  text-align: center;
  transition: 0.3sec;
  padding: 2rem;
  background: white;
  font-size: large;
  margin: 35px;
  padding: 20px;
  
  
}

.skills{
text-align: center;
background: white;

}
.skills h2{
   font-size: 2rem;
  margin-bottom: 2rem;
  margin: 2rem;

}
.progress {
  width: 80%;
  background: #ddd;
  margin: 10px auto;
  height: 10px;
  border-radius: 5px;
  
}
.skill-bar p{
  font-size: large;
}

.progress-fill {
  height: 10px;
  border-radius: 5px;
}

.html { 
    width: 85%; 
    background: #ff5722;
    size: 230px; 
}
.css { width: 76%; background: #03a9f4; }
.js { width: 30%; background: #fbc02d; 
}

 .skills, .projects, .contact {
  padding: 60px 20px;
  max-width: 1100px;
  margin: auto;
  text-align: center;
}
.project-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}
.project-card{
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  border-radius: 13px;
  text-align: center;
  transition: 0.3sec;
  padding:1rem;
  background: white;
  height: 250px;
  margin: 25px; 
  gap: 2rem;
}
.project-card img{
  width: 100%;
  height: 180px;
  object-fit: contain;
  border-radius: 8px;
}

.project-card h4{
  font-size: 1.5rem;
  margin-bottom: 15px;
} 
.project-card p{
  font-size: large;
  padding: 10px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
  margin: auto;
}

form input, form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.footer{
    text-align: center;
    background-color: rgb(21, 96, 99);
    color:rgb(231, 238, 237); 
    padding: 30px;
    font-size: 1rem;
    margin-top: 20px;
}